<a href="https://colab.research.google.com/github/gusan-gill/Module-2_Print-Function/blob/main/Data_Constructs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
if x%2==0:
  print("This number is even!")

In [ ]:
x=1000
if x%2==0:
  print("This number is even")
else:
    print("This number is an odd number!")

This number is even

In [ ]:
a=15
b=12
if a==b:
  print("The two numbers are equal")
elif a<b:
    print("the first number is smaller than the second")
else:
  print("The fist number is greater than the second")

The fist number is greater than the second

if else elif

In [ ]:
a= -1
if a>0:
  print("This number is positive")
elif a<0:
  print("This number is negative")
else:
  print("This number is 0")

This number is negative

In [ ]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

For loop

In [ ]:
for i in range(0,6):
  print("the iteration number is{}".format(i))

the iteration number is0
the iteration number is1
the iteration number is2
the iteration number is3
the iteration number is4
the iteration number is5

While loop

In [ ]:
i=0
while i<5:
  print(i)
  i=i+1
print("The end")

0
1
2
3
4
The end

In [ ]:
targetvalue =5
iterate =0
while iterate<targetvalue:
  print("Iteration number is {}, which is less than that target value {}".format(iterate,targetvalue))
  iterate =iterate+1

Iteration number is 0, which is less than that target value 5
Iteration number is 1, which is less than that target value 5
Iteration number is 2, which is less than that target value 5
Iteration number is 3, which is less than that target value 5
Iteration number is 4, which is less than that target value 5

Nested loops either for or while loops.

In [ ]:
colours =["blue","red","black"]
cars=["Audi","Ford","BMW"]
for colour in colours:#outer loop
  for car in cars:#inner loop
    print(colour, car)

blue Audi
blue Ford
blue BMW
red Audi
red Ford
red BMW
black Audi
black Ford
black BMW

In [ ]:
fruit =["apples","pears","bannanas"]
containers=["White","Blue","Green"]
for fruit in fruit:#outer loop
  for containers in containers:#inner loop
    print(fruit,containers)

apples White
apples Blue
apples Green
pears G
pears r
pears e
pears e
pears n
bannanas n

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j,end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

**Break** To stop prematurely.
You are programming and are looking for something, you use a break to stop once you have found what you want

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  if iterate==3:
    break
  iterate =iterate+1
  print("Iteration number is {}, which is less than that target value {}".format(iterate,targetvalue))

Iteration number is 1, which is less than that target value 6
Iteration number is 2, which is less than that target value 6
Iteration number is 3, which is less than that target value 6

Continuous statements - keeps all values except the one that is a mistake
You can get python to skip the mistake and print every other value

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate==3:
    continue
  print("The iteration value is {}, which is less than the target value {}".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value 6
The iteration value is 2, which is less than the target value 6
The iteration value is 4, which is less than the target value 6
The iteration value is 5, which is less than the target value 6
The iteration value is 6, which is less than the target value 6

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate>=3 and iterate<=5:
    continue
  print("The iteration value is {}, which is less than the target value {}".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value 6
The iteration value is 2, which is less than the target value 6
The iteration value is 6, which is less than the target value 6

Data Types - Lists, Tuples, Sets and Dictionaries
Lists are ordered, accessible using indexing. It allows duplicate values. Can contain Boolean, integers
Tupple is an ordered collection and is immutable
Set is ordered and immutable, does not allow duplicates
Dictionaries, ordered and mutable, does not allow

In [ ]:
mylist=["Michaell", "Sean", "Adam",]
print(mylist)

['Michaell', 'Sean', 'Adam']

In [ ]:
mylist=["Michaell", "Sean", "Adam",]
mylist[0]

'Michaell'

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
type(mylist)

list

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
mylist[1:3]

['Sean', 'Adam']

Do this if you want to measure the length of you length

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
print(len(mylist))

5

To find a value in a list

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
if "Sean" in mylist:
  print("Yes the element exists")

Yes the element exists

insert a *method* specify the index whre you want to insert the list

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
mylist.insert(1,"John")
print(mylist)

['Michaell', 'John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
mylist.insert(3, "Michell")
print(mylist)

['Michaell', 'Sean', 'Adam', 'Michell', 5000, True]

Append to add item to the end of the list

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
mylist.append("Zara")
print(mylist)

['Michaell', 'Sean', 'Adam', 5000, True, 'Zara']

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]
mylist.append("Peter")
print(mylist)

['Michaell', 'Sean', 'Adam', 5000, True, 'Peter']

In [ ]:
mylist1=["Michaell", "Sean", "Adam",5000, True]
mylist2=["Zara", "Paul", "John"]
mylist2.extend(mylist1)
print(mylist2)

['Zara', 'Paul', 'John', 'Michaell', 'Sean', 'Adam', 5000, True]

To remove from the list

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]#removes a certain index
mylist.remove(5000)
print(mylist)

['Michaell', 'Sean', 'Adam', True]

Pop you have to indicate the index you want to be removed. if not it will remove last element

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]#specified index
mylist.pop(4)
print(mylist)

['Michaell', 'Sean', 'Adam', 5000]

In [ ]:
mylist=["Michaell", "Sean", "Adam",5000, True]#automatically removes last element
mylist.pop()
print(mylist)

['Michaell', 'Sean', 'Adam', 5000]

Sort: sort method sorts the list alphabetically, numeric order from smallest to the largest. There is no decending function in Python

In [ ]:
#sort
mylist=["Michaell", "Sean", "Adam"]#ascending
mylist.sort()
print(mylist)

['Adam', 'Michaell', 'Sean']

In [ ]:
#sort
mylist=["Michaell", "Sean", "Adam"]#reverse
mylist.sort(reverse=True)
print(mylist)

['Sean', 'Michaell', 'Adam']

In [ ]:
mylist=["Michaell", "Sean", "Adam"]#reverse
mylist.reverse()
print(mylist)

['Adam', 'Sean', 'Michaell']

In [ ]:
mylist1=["Michaell", "Sean", "Adam",5000, True]
mylist2=["Zara", "Paul", "John"]
mylist3=mylist2+mylist1
print(mylist3)

['Zara', 'Paul', 'John', 'Michaell', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michaell", "Sean", "Adam"]#getting help
help(mylist.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
mylist=["Amazon Prime", "Netflix", "Spotify", "freeview"]
element = input("Please input streaming company name (in Capitalised form):")
if element in mylist:
  print("the streaming company already exists")
else:
  mylist.append(element)
  print(mylist)

Please input streaming company name (in Capitalised form):Spotlight
['Amazon Prime', 'Netflix', 'Spotify', 'freeview', 'Spotlight']

In [ ]:
mylist=["Amazon Prime", "Netflix", "Spotify", "freeview"]
element = input("Please input streaming company name (in Capitalised form):")
if element in mylist:
  print("the streaming company already exists")
else:
  mylist.append(element)
  print(mylist)

Please input streaming company name (in Capitalised form):Netflix
the streaming company already exists

you can use insert or append function to add values, append will automatically add it to the end

In [ ]:
mylist=["Amazon Prime", "Netflix", "Spotify", "freeview"]
element = input("Please input streaming company name (in Capitalised form):")
if element in mylist:
  print("the streaming company already exists")
else:
  mylist.append(element)
  print(mylist)

For loop

In [ ]:
mylist=["Amazon Prime", "Netflix", "Spotify", "freeview"]
print(mylist)

['Amazon Prime', 'Netflix', 'Spotify', 'freeview']

In [ ]:
mylist=["Amazon Prime", "Netflix", "Spotify", "freeview"]#looping #returning#each item separately
for element in mylist:
  print(element)

Amazon Prime
Netflix
Spotify
freeview

List Comprehension: you can use list comprehension to write your code in one line.
Syntax includes expression, iteration and condition (whereby).

In [ ]:
a=[1,2,3,4,5,6,7]
#=2,4,6,8,10,12,14
b=[]
for i in a:
  b.append(i*2)
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
#shorten code
a=[1,2,3,4,5,6,7]
b=[i*2 for i in a]# i is the expression and for is the iteration #b condition
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
mylist=[1000,20,2010,50,95,1021]#conventional way
mynewlist=[]
for i in mylist:
  if i<100:
    mynewlist.append(i)
print(mynewlist)

[20, 50, 95]

In [ ]:
mylist=[1000,20,2010,50,95,1021]#comprehention
mynewlist=[i for i in mylist if i<100]
print(mynewlist) #i is expression

[20, 50, 95]

In [ ]:
mylist=["Michael","Sean", "Adam", "Zara"]#converting to uppercase
mynewlist=[i.upper() for i in mylist]
print(mynewlist)

['MICHAEL', 'SEAN', 'ADAM', 'ZARA']

In [ ]:
mylist=["P","Y", "T", "H", "O", "N"]

In [ ]:
mylist=[letter.upper() for letter in "python"]#comprehention
print(mylist)

['P', 'Y', 'T', 'H', 'O', 'N']

A list inside a list...a nested list - sublist

In [ ]:
mylist=[1,2,["a",1],3] #sublist
sublist=mylist[2]
print(sublist)

['a', 1]

In [ ]:
mylist=[1,2,["a",1],3]
mylist[2][0]

'a'

In [ ]:
mylist=[1,2,["a",1],3]
mylist[2][1]

1

In [ ]:
mylist=[1,2,["a",1],3]
mylist[3]

3

create a matrix: a list can be used to define and access a matrix
roco
length formula will give you number of rows

In [ ]:
matrix=[[0,1,2],[3,4,5],[6,7,8],[9,10,11]]

In [ ]:
matrix=[[0,1,2,],
        [3,4,5],
        [6,7,8],
        [9,10,11]]
rows=len(matrix)
cols=len(matrix[0])
for i in range(0,rows):
  print(matrix[i])

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 10, 11]

**Dictionaries** They are ordered, changeable and do not allow duplicates.
They are written in curly brackets

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
print(mydict['employee'])

Zara

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
mydict['department']="Sales"
print(mydict)

{'employee': 'Zara', 'department': 'Sales', 'last salary': 5000}

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
print(len(mydict))

3

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
print(type(mydict))

<class 'dict'>

In [ ]:
mydict={
1: {"employee":"Zara", "department":"operations","last salary":5000}
2: {"employee":"Sean", "department": "sales",last salary":4000}
}
print(mydict

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
mydict.values()

dict_values(['Zara', 'operations', 5000])

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
mydict.items()

dict_items([('employee', 'Zara'), ('department', 'operations'), ('last salary', 5000)])

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
if "department" in mydict:
  print("yes the key exists")

yes the key exists

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
mydict.update({"status": "permanent"})
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000, 'status': 'permanent'}

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
del mydict
print(mydict)

NameError: ignored

In [ ]:
from typing import ValuesView
mydict={"employee":"Zara", "department":"operations","last salary":5000}
for item in mydict.keys():
  print(item)

employee
department
last salary

In [ ]:
mydict={"employee":"Zara", "department":"operations","last salary":5000}
for keys,values in mydict.items():
  print(keys,values)

employee Zara
department operations
last salary 5000

In [ ]:
mydict={"Mother":"Susan", "First Child": "Darbi", "Second Child":"Jack"}
for keys, values in mydict.items():
  print(keys, values)

Mother Susan
First Child Darbi
Second Child Jack

In [ ]:
mydict={"Mother":"Susan", "First Child": "Darbi", "Second Child":"Jack"}
delmydict["Mother" , "Susan"]
print(mydict)

NameError: ignored

Tuples:

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)
type(mytuple)

tuple

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)
mytuple[1]

'Ford'

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)
mytuple[0:3]

('Audi', 'Ford', 'Tesla')

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)
mylist=list(mytuple)#changing tple to a list
mylist[0]="Toyota"
mytuple=tuple(mylist)#changing to a tuple
print(mytuple)

('Toyota', 'Ford', 'Tesla', 5000, True)

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)
mytuple.count("Audi")

1

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)
mytuple.index("Tesla")

2

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)
for i in mytuple:
  print(i)

Audi
Ford
Tesla
5000
True

In [ ]:
mytuple=("Audi", "Ford", "Tesla")#packing
car1,car2,car3=mytuple#unpacking
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

Sets: changeable, written in curly brackets. Use booleans etc

In [ ]:
myset={"Audi", "Ford", "Tesla", 5000, True}
print(myset)
len(myset)
type(myset)

{True, 5000, 'Tesla', 'Audi', 'Ford'}

set

In [ ]:
mytuple={"Audi", "Ford", "Tesla", 5000, True}
for i in myset:
  print(i)

True
5000
Tesla
Audi
Ford

In [ ]:
mytuple={"Audi", "Ford", "Tesla", 5000, True}#this is unordered
myset.add("apples")
print(myset)

{True, 5000, 'Tesla', 'Audi', 'Ford', 'apples'}

In [ ]:
mytuple={"Audi", "Ford", "Tesla", 5000, True}
myset.pop()
print(myset)

{5000, 'Tesla', 'Audi', 'Ford', 'apples'}

In [ ]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.intersection(myset2)
1

1

In [ ]:
myset1={3,4}
myset={1,2,3,4,5,6}
myset1.issubset(myset2)

True

Libraries
Pythons have libraries, 1000s. this makes coding easier. These are prewritten codes

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
import math

In [ ]:
import scipy

In [ ]:
import pyodc

ModuleNotFoundError: ignored

In [ ]:
!pip install pyodc 
import pyodc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodc
  Downloading pyodc-1.1.4.tar.gz (26 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyodc) (1.3.5)
Requirement already satisfied: cffi in /usr/local/lib/python3.7/dist-packages (from pyodc) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi->pyodc) (2.21)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyodc) (1.15.0)
Building wheels for collected packages: pyodc
  Building wheel for pyodc (PEP 517) ... done
  Created wheel for pyodc: filename=pyodc-1.1.4-py3-none-any.whl size=28062 sha256=29a298a41ce53389214673b8ba4639a65476b0b563f1d937c04b10155cf77a69
  Stored in directory: /root/.cache/pip/wheels/cb/ea/82/e6d792d2557f2b621a829b888a93051f52894fb75b200bbb7c
Successfully built pyodc
Installing collected packages: pyodc
Successfully installed pyodc-1.1.4